---
- name: Webserver mit Systeminfo
  hosts: web
  become: true

  tasks:
    - name: Apache installieren
      ansible.builtin.apt:
        name: apache2
        state: present
        update_cache: true

    - name: Apache starten und aktivieren
      ansible.builtin.service:
        name: apache2
        state: started
        enabled: true

    - name: HTML-Seite deployen
      ansible.builtin.template:
        src: templates/index.html.j2
        dest: /var/www/html/index.html
        mode: "0644"
